body{
	#background-color: #002b36;
	#color:#00afaf;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 105%;
}

h1{
	font-size:200%;
}

a{
	color: inherit;
	text-transform: lowercase;
}

a:hover{
	color:#dddddd;
	background-color:#008080;
	text-decoration: none;
}

ul{
	padding-left: 0
}

header{
	border-bottom:#586e75 1px solid;
}

header li{
	display: inline;
	font-size: 100%;
}

.mainbody{
	font-family: monospace;
	#margin-left: 15%;
	#margin-right: 15%;
}

.mainbody li{
	list-style-type: none;
}

.mainbody img{
	border-style: outset;
	border-width: thick;
}
