* {
	box-sizing: border-box;
  }

body{
	background-color: #001010;
	color:#00afaf;
	text-align: center;
	max-width: 100%;
	height: auto;
}

h1{
	font-size: xx-large;
	font-weight: bold;
}

h2{
	font-size: x-large;
	font-weight: bold;
	background-color: #004040;
}

h3{
	color:#dddddd;
}

a{
	color: inherit;
	text-transform: lowercase;
}

a:hover{
	color:#dddddd;
	background-color:#008080;
	text-decoration: none;
}

ul{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 5px;
}

header li{
	display: inline;
	min-height: 125%;
	font-size: 115%;
}

.mainbody{
	font-family: monospace;
	margin-left: 10vw;
	margin-right: 10vw;
	font-size: 105%;
}

.mainbody img{
	max-width: 100%;
	height: auto;
	border-style: outset;
	border-width: thick;
}

.title{
	font-size: x-large;
	font-weight: bold;
	background-color: #004040;
	color:#dddddd;
}